@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Banner Style Starts From Here */
.banner-container{
    width: 1440px;
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}

#image{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.banner-content h1{
    font-family: Azeret Mono;
    text-align: center;
    margin-top: 32px;
    height: 135px;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    word-spacing: -5px;
    color: rgb(13, 19, 33);
}
.banner-content p{
    font-family: Azeret Mono;
    text-align: center;
    margin-top: 20px;
    line-height: 26px;
    word-spacing: -2px;
    opacity: 0.7;
    color: rgb(13, 19, 33);

}
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
}
#btn{
    padding: 14px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;
}
/* Banner Style End Here */

/* First Section Starts From Here */

.first-section{
    width: 1140px;
    height: 1395px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 74px;
    padding: 80px 97px 80px 97px;
}

.first-section h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Azeret Mono;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}

.first-section p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Azeret Mono;
    opacity: 0.7;
    word-spacing: -3px;
    margin-top: 24px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.first-container{
    width: 946px;
    height: 336px;
    margin-top: 48px;
    padding: 48px;
    display: flex;
}

.leftside-content{
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}

.leftside-content h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    word-spacing: -3px;
}

.leftside-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.2px;
    text-align: left;
    word-spacing: -3px;
    opacity: 0.7;
}

.learn-btn{
    padding: 12px 20px 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    margin: 30px 0px;
}
.rightside-content{
    margin-left: 60px;
    padding: 0;
    display: flex; 
}
.B-rightside-content{
    margin: 0px 10px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}
.B-rightside-content h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    word-spacing: -3px;
}
.B-rightside-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.2px;
    text-align: left;
    word-spacing: -3px;
    opacity: 0.7;
}
.B-learn-btn{
    padding: 12px 20px 12px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    margin: 30px 0px;
}
/* First section ends here */

/* Second section starts from here */
.inspiration-container{
    margin: 0 auto;
    width: 1140px fixed;
    height: 777px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;       
    font-family: Azeret Mono;
}

.inspiration-container h2{
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.inspiration-container p{
    width: 852px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    word-spacing: -1px;
    text-align: center;
    opacity: 0.7;
}

#inspiration{
    padding: 32px;
    margin: 48px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

iframe{
    border-radius: 16px;
}
/* second section ends here */


/* third section starts from here  */
.target-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Azeret Mono;
    margin: 0 auto;
    margin-top: 100px;
    width: 1140px;
    height: 463px auto;
}

.target-container h2{
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.target-container p{
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    word-spacing: -2px;
}
.item-container{
    width: 1140px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 48px 0px;
}
.item{
    margin: 0px 24px;
    padding: 40px;
    width: 364px;
    height: 300px;
    font-family: Azeret Mono;
    border-radius: 16px;
}

.item h1{
    margin: 8px 0px;
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.item p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    word-spacing: -3px;
    margin-bottom: 24px;
}
.item a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
/* third section ends here */

/* Fourth section starts from here */
.support-container{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    padding: 64px 48px 64px 48px;
    background-image: url('../assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.image-overlay{
    width: 100%;
    height: 100%;
    font-family: Azeret Mono;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-overlay h2{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}
.image-overlay p{
    margin-top: 14px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;

}
#input-field{
    width: 684px;
    height: 58px;
    margin: 48px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#feedback input{
    margin: 0px 16px;
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    padding: 19px 20px 19px 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
#submit button{
    width: 120px;
    height: 58px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    cursor: pointer;
}
/* Fourth section ends here */

/* footer section starts from here*/
.footer-container{
    width: 1440px;
    height: 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px 32px 150px;
    margin-top: 72px;
}
.footer-content{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    word-spacing: -2px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start ;
    align-items: flex-start;
}
.all-icon{
    margin-left: 526px;
}
/* footer section end here */